{% extends 'nav.html' %}

{% block title %}
    PWJ-Personalizados - Recuperar Senha
{% endblock title %}


{% block style %}
    <style>
        .btn {
            font-family: "Ralaway", sans-serif;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 10px 30px;
            border-radius: 50px;
            transition: 0.55s;
            color: rgb(255, 255, 255);
            background-color: green;
          
        }
    </style>


{% endblock style %}


{% block body %}

<section id="contact" class="contact">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <div class="row d-flex justify-content-center">

                <div class="form-group col-md-6 ">
                    <br>




                    <h1 data-aos="fade-up">Recuperar senha</h1>
                    <div class="container-fluid" data-aos="fade-up" data-aos-delay="400"></div>

                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}}" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                      </div>
                    {% endfor %}

                        <section>
                    
                    
                            <h2 style="padding-bottom: 10px;" class="titulo">Seja bem vindo</h2>
                            <form class="form-container form-bg-login" action="/autenticacao/request-reset-email/" method="POST">{% csrf_token %}
                                <div class="form-group mt-3">
                                    <label for="">E-mail</label>
                                    <input type="email" placeholder="Digite seu E-mail..." name="email" class="form-control" required>
                                </div>
                                                                           
                                    <input type="submit" class="btn  btn-outline-success btn-lg mt-4">
            
                            </form>
                            <a href="/autenticacao/login/" class="btn btn-outline-success btn-lg mt-4">Voltar</a>
                                <br>
                        </section>

                </div>

            </div>

        </div>
    </div>
</section>
    

                
 {% endblock body %}